
.layout{
    padding: 10px;


    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        div {
            display: flex;
        }

        .avatar{
            height: 55px;
            width: 110px;


            &:hover {
                cursor: pointer;
            }
        }

    }
    
    span {
        a {
            padding-right: 30px;
            color: black;
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
            
            &:hover {
                color: rgb(255, 152, 0);
            }
            
        }

    }

}


// .content{
//     height: max-content;
//     width: max-content;
// }