
<div class="main">
    <div class="search_container">
        <input appDebounse (onEvent)="hundleSerch($event)" type="text" 
        class="search_input" 
        placeholder="Search character..."
    />

    <ng-icon class="filter"  (click)="filterDialogService.toggle()" size="30px"  name="heroAdjustmentsHorizontal"></ng-icon>
    </div>


    <div *ngIf="filterDialogService.isVisivle$ | async">

        <app-filter-dialog [statusValue]="statusValue" [genderValue]="genderValue" [speciesValue]="speciesValue" 
        (status)="onChnage($event)" (gender)="onChnage($event)" (species)="onChnage($event)">
    
        </app-filter-dialog>
    </div>

    <div class="content" *ngIf="charactor.results">
        <app-character *ngFor="let character of charactor.results" [product]="character"></app-character>
    </div>


    <h3 *ngIf="{errorMessage}" class="errorMessage">{{errorMessage}}</h3>

    <div *ngIf="loading" class="loading_contane"><div class="loading"></div></div>

</div>