
.main{
    padding: 40px;

    .errorMessage{
        color: red;
        text-align: center;
    }

    .search_container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .search_input{
            width: 100%;   
            border: 2px;
            border-radius: 10px;
            padding-inline: 16px;
            padding: 10px 8px 10px 8px;
            background-color: rgb(60, 62, 68);
            color: white;
            font-size: medium;
            margin-right: 16px;
        }


        .filter {
            color: rgb(60, 62, 68);
            height: 35px;
            width: 35px;

            &:hover{
                cursor: pointer;
            }
        }

    }

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Автоматически создает колонки */
        grid-gap: 20px;
    }

    .loading_contane{
        display: block;
        margin: auto;
        padding: auto;
        width: fit-content;
        margin-top: 50px;
        .loading{
            width: 20px;
            aspect-ratio: 1;
            border-radius: 50%;
            background: white;
            box-shadow: 0 0 0 0 #fff;
            animation: l2 1.5s infinite linear;
            position: relative;

            :before,
            :after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            box-shadow: 0 0 0 0 #0004;
            animation: inherit;
            animation-delay: -0.5s;
            }
            :after {
                animation-delay: -1s;
            }
            @keyframes l2 {
                100% {box-shadow: 0 0 0 20px #0000}
            }
        }
    }

}