
<div class="main">
    <div class="search_container">
        <input type="text" 
        class="search_input" 
        placeholder="Search character..."
        [(ngModel)]="searchValue"
    />

    <img class="filter" src="assets/filter.png" alt="">
    </div>

    <div *ngIf="loading" class="loading_contane"><div class="loading"></div></div>

    <div class="content" *ngIf="charactor">
        <app-character *ngFor="let character of charactor.results" [product]="character"></app-character>
    </div>

</div>