@mixin status{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


.contaner {
    display: flex;
    justify-content: space-between;
    height: 220px;
    color: white;
    border-radius: 10px;
    background-color: rgb(60, 62, 68);

    .image {
        border-radius: 10px 0 0 10px;
        width: 40%;
     }
    
    .product__info {
        padding: 15px;
        width: 55%;

        .save_div{
            display: flex;
            justify-content: space-between;

            .icon_style{
                color: white;
            }

        }

        .main_title{
            font-size: x-large;
            font-weight: 600;
            margin: 0px;
        }
     
         .status_row {
             display: flex;
             flex-direction: row;
             align-items: center;

             .status_red {
                @include status();
                background-color: red,
            }
            .status_green {
                @include status();
                background-color: green,
            }
            .status_gray {
                @include status();
                background-color: gray,
            }

            .status_text{
                font-weight: 600;
            }
     
         }
     
         .subtitle {
             color: gray;
             font-size: medium;
             font-weight: 500;
             margin: 0px;   
         }
     
         .title{
             color: white;
             font-size: large;
             font-weight: 500;
             margin-top: 8px; 
         }
    }

    

}