<div class="contaner">
    <img class="image" [src]="product.image" [alt]="product.name">

    <div class="product__info">
        <p class="main_title">{{ product.name }}</p>

        <div  class="status_row">
            <div class="{{getStatus()}}"></div>
            <p class="status_text">{{product.status}} - {{product.species}}</p>
        </div>

        <p class="subtitle">Last known location</p>
        <p class="title">{{product.location.name}}</p>
        <p class="subtitle">Last known location</p>
        <p class="title">{{product.location.name}}</p>
    </div>


</div>
